.section_minha_historia {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    /* gap: 0.3rem; */
    /* margin-top: 1rem; */
    font-size: 20px;
    color: rgb(31, 31, 31);
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    height: 15rem;
   padding-bottom: 12rem;
   padding-top: 15.2rem;
}
.div_minha_historia {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    width: 20rem;
    height: 1000px;
    z-index: -1;
}

.div_p1_minha_historia {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 0.8rem;
    gap: 1.5rem;
}


.div_button_minha_historia button{
    border-radius: 3px;
    width: 6rem;
    height: 2rem;
    background-color: black;
    color: white;
}

.historia_johnny {
    display: flex;
    padding: 10rem;
    justify-content: center;
    background-color: #0f1a35;
    gap: 15rem;
}

.historia_johnny-img {
    width: 50%;
}

.historia_johnny-textos{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 20rem;
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
    font-size: 0.8rem;
    /* gap: 3rem; */
    color: #FFFFFF;
}

.historia_johnny-h1{
    display: flex;
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

.historia_johnny-p1{
    display: flex;
    font-size: 0.8rem;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

.pilares_johnny_intro_pai{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.pilares_johnny_intro_h1{
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;

}

.pilares_johnny_intro_p1{
    display: flex;
    width: 45rem;
    font-size: 1rem;
    text-align: center;
}

.div_button_minha_historia{
    display: flex;
    margin-top: 2rem;
}

.pilares_meus {
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
}

.titulo {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

.titulo h2 {
    font-size: 40px;
    font-weight: 500;
}

.imagens {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4%;
    padding-top: 4rem;
}

.pilar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    width: 80%;
    padding-top: 1rem;
    overflow: hidden;
    text-align: justify;
    line-height: 1.5;
}

.pilar img {
    width: 70%;
    max-height: 40%;
    /* border-radius: 10px; */
    padding-top: 2rem;
}

.pilar h3 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-top: 4rem;
}

.pilar p {
    font-size: 0.8rem;
    color: black;
    padding-top: 4px;
    overflow: hidden;
    width: 100%;
    padding-top: 2rem;
    text-align: justify;
}

