.cadastro-recinto{
    display: flex;
    justify-content: center;
    background-color: #0a1830;
    color: #FEFFFB;
    padding: 2rem;
    width: 55%;

    border-radius: 4px;
}

input{
background-color: white;
border-radius: 3px;

}
/* #5E8C61 */

#cadastro-recinto-button{
    background-color: #FFFFFF;
    color: #12121c;
    border-radius: 3px;
    width: 11rem;
    align-self: center;
}

.cadastro-recinto-input{
    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 0.5rem;
}

.cadastro-recinto-h1{
    display: flex;
    justify-content: flex-start;
    background-color: #FFFFFF;
    color: #0a1830;
    padding: 1rem;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    padding-left: 16rem;
}

.cadastro-recinto-img{
    align-self: flex-start;
}

.cadastro-recinto-img img{
    position: absolute;
    width: 12rem;
    padding-right: 6rem;

    left: 40%;

}

.div_campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}