/* .section_banner {
    background-image: url(../img/Banner.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
} */

.img_banner {
    background-image: url(../img/Adobe\ Express\ -\ file\ \(1\).jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    flex-direction: column;
    position: absolute;
    top: 30px;
    z-index: -1;
    /* filter: blur(-1px); */
}

.h1 {
    font-size: 1.3rem;
    display: flex;
    justify-content: end;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 150px;
    color: rgb(31, 31, 31);
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    padding-right: 0.5rem;
}


.h2 {
    font-size: 1.0rem;
    display: flex;
    justify-content: end;
    text-align: right;
    color: rgb(31, 31, 31);
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    text-shadow: 0px 0px 8px #ffffffbb;
    padding-right: 0.8rem;
}

#section_chamada {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    gap: 2rem;
    margin-top: 15rem;
    font-size: 20px;

}

#corrida_escura {
    width: 40rem;
    height: auto;
    margin: 4rem;
}

.div_chamada_acao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 4rem;
}

.div_h1 {
    font-size: 3rem;
    font-weight: 900;
}

.funcionalidades {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400px;
    font-style: normal;
}


.img_icone {
    width: 3rem;
}




.div_button {
    display: flex;
    justify-content: center;

    button {
        height: 2.5rem;
        width: 25rem;
        font-size: 1rem;
        font-weight: 700;
        border: 1px solid black;
        border-radius: 10px;
        background-color: black;
        color: white;
        cursor: pointer;
        transition: background-color 0.5s, color 0.1s, background-image 0.5s;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    button:hover{
        background-color: white;
        color: rgba(0, 0, 0, 0); /* Cor do texto transparente */
        background-image: url(../img/chegada.jpg);
        background-size: auto;
        font-weight: bold;
    }
}

.section_depoimentos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 30rem;
    align-items: center;
}

.div_card_depoimento {
    width: 90%;
    display: flex;
    flex-direction: row;
    /* background: url(../img/perfil\ mack.jpg); */
    height: 25px;
    margin-top: 30rem;
}

#id_img1 {
    width: 52.5%;
    height: 500px;
}

#id_img2 {
    width: 800px;
    height: 500px;
}

.paragrafo_depoimento{
    display: flex;
    padding: 1.5rem;
    padding-left: 8rem;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    text-shadow: 0px 0px 8px #ffffffbb;
}

.paragrafo_depoimento2{
    display: flex;
    width: 33rem;
    padding: 1.5rem;
    padding-left: 8rem;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    text-shadow: 0px 0px 8px #ffffffbb;
}



