*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../img/trio\ ponte.jpg");
    background-size: cover;
    background-position: center;
}

.container{
    width: 500px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(1.5px);
}

.container h1{
    font-size: 34px;
    text-align: center;
    color: #006b8f;
    font-family: "Racing Sans One", sans-serif;
    font-style: normal;
    text-shadow: 0px 0px 8px #ffffffbb;
}

.input_box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input_box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid  rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px, 45px, 20px, 20px;
}

.input_box input::placeholder {
    color:  #fff;
}

/* .input_box i{
    position: absolute;
    left: 860px;
    font-size: 20px;
} */

.input_box input::placeholder{
    text-align: center;
}

.login {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin-top: 20px;
}

input{
    text-align: center;
}

.login:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    color: #fff;
    transition: 0.5s;
}

.register_link {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 15px;
    color: #8cb8cc;
    color: rgb(31, 31, 31);
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    text-shadow: 0px 0px 8px #ffffffbb;
}

.register_link a{
    text-decoration: none;
    color: #8cb8cc;
    font-weight: 600;
    color: rgb(31, 31, 31);
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    text-shadow: 0px 0px 8px #ffffffbb;
}

.register_link a:hover {
    text-decoration: underline;
}