.div_p1_minha_historia {
    display: flex;
  flex-direction: column;       /* Coloca os textos um em cima do outro */
  justify-content: center;      /* Centraliza no eixo vertical (se o container tiver altura definida) */
  align-items: center;          /* Centraliza no eixo horizontal */
  width: 100%;
  padding-top: 20.85rem;
  padding-bottom: 20.85rem;
  font-size: 1.2rem;
  gap: 1.5rem;                  /* Espaçamento entre os textos */
  text-align: center;
  color: rgb(31, 31, 31);
  font-family: "Racing Sans One", sans-serif;
  font-style: normal;
}

.texto_sobrenos{
    width: 25rem;
}

.historia_johnny {
    display: flex;
    padding: 10rem;
    justify-content: center;
    background-color: #0f1a35;
    gap: 15rem;
}

.historia_johnny-img {
    width: 60%;
}

.historia_johnny-textos{

    display: flex;
    flex-direction: column;
    width: 30rem;
    padding-bottom: 7rem;
    padding-top: 7rem;
    font-size: 0.8rem;
    color: #FFFFFF; 
} 

.historia_johnny-h1{
    display: flex;
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 5rem;
}


.pilares_meus {
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
}

.titulo {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

.titulo h2 {
    font-size: 36px;
    font-weight: 500;
}

.imagens {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1%;
}

.pilar {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pilar img {
    width: 40%;
    max-height: 25%;
    /* border-radius: 10px; */
    padding-top: 2rem;
}

.pilar h3 {
    font-size: 35px;
    font-weight: bold;
    color: black;
    padding-top: 2rem;
}

.pilar p {
    font-size: 1rem;
    color: black;
    width: 80%;
    padding-top: 1rem;
    overflow: hidden;
    text-align: justify;
    line-height: 1.5;
}

.carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    flex-direction: column;
    height: auto;
    position: relative;
    top: 80%;
    z-index: 2;
    background: transparent;
  }
  
  .fotos {
    display: flex;          /* Garante que as imagens fiquem lado a lado */
    justify-content: center;
    gap: 2.5rem;
    max-width: 600px;
    margin: 2rem auto 0 auto;
  }
  
  .fotos img {
    margin-top: 7rem;
    width: 100%;             /* Reduz o tamanho das imagens */
    height: auto;
    object-fit: cover;
    border-radius: 6px;
  }